<!DOCTYPE html>
<html>
<head>
  <title>ThoughtWorksNYC | Home Office Day</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <link rel="stylesheet" href="candy.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
