<!DOCTYPE html>
<html lang="en" ng-app='hod'>
  <head>
    <title>HOD Promises Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//showcase.thoughtworks.com/css/candy.css">
    
  </head>
  <body ng-controller="PreloadCtrl">
    <div ng-controller="FrontPageCtrl">
      <div ng-show="shown='FrontPage'">Hello!</div>
    </div>
  </body>
</html>