
<h1>Listing promises</h1>

<table>
  <tbody>
    <% @promises.each do |promise| %>
      <tr>
        <td><%= promise.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<a href="/index2.html">We must go asynchronous!</a>

