<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__cell">
      <br/>
      <p>NYC::HOD -- Angular JS Dark Magic</p>
    </div>
  </div>
</div>

<div class="grid-wrapper insights-article insights-article--blue">
  <div class="grid">
    <div class="grid__cell">
      <p class="insights-article__date">March 21, 2014</p>
      <h2 class="insights-article__title">List of your HOD Promises:</h2>
      <p class="insights-article__author">
        <table>
          <tbody>
            <% @promises.each do |promise| %>
              <tr>
                <td><span class="insights-article__author-name"><%= promise.name %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </p>
      <p class="insights-article__categories">
        <a href="/index2.html" class="insights-article__category">We can do better, can't we?</a>
      </p>
    </div>
  </div>
</div>
